@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');
@import "../Style/BaseColor/base.scss";
@import "./Navbar.scss";
@import "./Icone.scss";
@import "./user.scss";
@import "./graphics.scss";
@import "./nutrition.scss";
@import "./media.scss";

*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

main{
    display: flex;
    height: 90vh;
}

body{
    max-height: 100vh;
}